table, th, td {
    border: 1px solid black;
}

body {
    background-image: url("assets/img/background.jpg");
    background-size: 1200px 800px;
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    background-origin: content-box;
    background-color: cornsilk;
    border: 120px solid #fafffb;
    border-bottom-style: dotted;
    cursor: crosshair;
           }

h1 {
    border: 10px solid black;
    background-color: aqua;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
    font-feature-settings: on;
    font-size-adjust: 1;
}

h2 {
    border: 10px;
    border-color: blueviolet;
    border-image: round;
    background-color: aqua;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-variant: all-small-caps;
}
h3 {
    border: 10px solid black;
    background-color: #32a1ff;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
    font-stretch: ultra-condensed;
    font-size: 20;
    font-synthesis: style;
}
h4 {
    border: 10px solid black;
    background-color: #33ff23;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-variant-position: none;
}
h5 {
    border: 10px solid black;
    background-color: #ff51a3;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
}

h6 {
    border: 10px solid black;
    background-color: #f1ff2e;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
}

p {
    margin: 10px 10px 10px 10px;
    border: 5px #33ff23;
    letter-spacing: 2px;
    hanging-punctuation: first;
    line-break: auto;
    tab-size: 3px;
    text-align: left;
    text-align-last: start;
    text-combine-upright: none;
    text-indent: each-line;
    text-justify: kashida;
    text-transform: none;
    white-space: nowrap;
    -ms-word-break: break-all;
    word-break: break-all;
    word-spacing: inherit;
    word-wrap: break-word;
}

nav {
    background-color: aliceblue;
    text-align: center;
    height: 30px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    background-repeat:no-repeat;
    background-image:none;
    text-decoration: none;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-left: 115px;
    box-shadow: 5px 5px 5px #498857;
    position:static;
    visibility: visible;
    z-index: auto
    }

img {
    image-rendering: auto;
    image-resolution: from-image;
    object-fit: none;
}

{
    voice-family: paul;
    voice-stress: moderate;
    voice-volume: -6dB;
}

#main {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

#main div {
    width: 50px;
    height: 50px;
}


button#b1 {
    top: 20%; left: 25%;
    nav-index: 1;
    nav-right: #b2; nav-left: #b4;
    nav-down: #b2; nav-up: #b4;
}

button#b2 {
    top: 40%; left: 50%;
    nav-index: 2;
    nav-right: #b3; nav-left: #b1;
    nav-down: #b3; nav-up: #b1;
}

button#b3 {
    top: 70%; left: 25%;
    nav-index: 3;
    nav-right: #b4; nav-left: #b2;
    nav-down: #b4; nav-up: #b2;
}

button#b4 {
    top: 40%; left: 0%;
    nav-index: 4;
    nav-right: #b1; nav-left: #b3;
    nav-down: #b1; nav-up: #b3;
}

.tagid {
    font-color: red;
    background-color: #f1ff2e;
    background-repeat;
    background-clip;
    background-origin;
    background-size;
    border border-bottom;
    border-bottom-color;
    border-bottom-left-radius;
    border-bottom-right-radius;
    border-bottom-style;
    border-bottom-width;
    border-color;
    border-image;
    border-image-outset;
    border-image-repeat;
    border-image-slice;
    border-image-source;
    border-image-width;
    border-left Sets;
    border-left-color;
    border-left-style;
    border-left-width;
    border-radius;
    bottom;
    clear;
    clip;
    display;
    float;
    height
    left;
    margin;
    margin-bottom;
    margin-left;
    margin-right;
    margin-top;
    max-width;
    min-width;
    overflow;
    marquee-direction;
    marquee-play-count;
    marquee-speed;
    marquee-style;
    mask-type;
    mark;
    mark-after;
    rest-after;
    voice-balance;
    voice-pitch;
}