table, th, td {
    border: 1px solid black;
}

body {
    background-image: url("assets/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: cornsilk;
           }

